.builder-featured-number {
   margin: 0 0 $global_margin_after;
   .builder-featured-number-number {
      font-weight: 300;
      font-size: 60px;
      margin: 0;
      display: block;
   }
   .builder-featured-number-title {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      color: #000;
   }
   &.custom-color {
      background: transparent !important;
      .builder-featured-number-number,
      .builder-featured-number-title,
      .builder-featured-number-link {
         color: inherit;
      }
   }
}