@media #{$max_1} {
   .builder-full-width-slider .builder-content-wrap .builder-button {
      padding: 0 6px !important;
      line-height: 35px !important;
      height: 35px !important;
      font-size: 12px !important;
   }
}