/* Search widget */
#sidebar .widget_portfolio_search {
   padding: 0;
   .widget-title {
      display: none;
   }
   .search-form {
      @include has-clearfix;
      label {
         width: 65%;
         margin: 0 !important;
      }
      label, .search-submit {
         float: left;
         overflow: hidden;
      }
      .search-field,
      .search-submit {
         border-radius: 0;
         border-bottom: 0;
         border-top: 0;
         padding: 20px;
      }
      .search-field {
         border-left: 0;
         box-shadow: none;
      }
      .search-submit {
         width: 35%;
         border-right: 0;
         border-left: 0;
      }
   }
}